<div class="page" data-name="testvideo">
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="title">mHBS Videos</div>
    </div>
  </div>
  <div class="page-content">
    <div class="list media-list inset">
      <ul id="videoListMedia">
        <!-- Videos will be loaded here through server -->
      <ul> 
    </div>
  </div>
</div>
